* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  color: white;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 4rem;
  color: rgb(3, 224, 3);
  padding: 10px;
  border-radius: 10px;
}
