* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderRotate {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

.box {
  max-width: 300px;
  padding-inline: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
  border-radius: 10px;

  animation: borderRotate 5s infinite linear paused;
  border: 0px solid rgba(255, 255, 255, 0.001);

  transition: all 0.3s linear;
  background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, rgb(190, 3, 140), black)
      border-box;
}

.box:hover {
  box-shadow: 0 0 70px rgb(190, 3, 140);
  border: 7px solid rgba(255, 255, 255, 0.001);
  animation: borderRotate 3s infinite linear running;
  color: rgb(190, 3, 140);
  text-shadow: 0 0 10px rgb(230, 8, 171);
}

.box img {
  width: 100%;
}
