* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.card img {
  height: 500px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

.card h2 {
  text-align: start;
}
.card i {
  font-size: 150px;
  font-weight: 100;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-image: url(https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;

  transition: all cubic-bezier(0.65, 1, 0.77, 1.44) 0.4s;
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}
