* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  color: white;
}

#main {
  height: 100%;
  width: 100%;
  background-image: url(./Spidy.webp);
  background-size: cover;
  background-position: center;
}

#main h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 80px;
  font-family: "Brush Script MT", cursive;
  color: black;
  font-weight: 700;
}

#main button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 20px;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
}
