* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

span {
  color: royalblue;
}

.card {
  width: 600px;
  background-color: white;
  padding: 20px 50px;
  border-radius: 10px;
}

.outer {
  height: 20px;
  width: 100%;
  background-color: gray;
  border-radius: 10px;
}

.inner {
  height: 100%;
  width: 0%;
  background-color: green;
  border-radius: 10px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.bottom h2 {
  font-size: 40px;
  white-space: nowrap;
}

.bottom button {
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.bottom button:active {
  scale: 0.95;
}
