* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: black;
  color: black;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  height: 400px;
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  flex-shrink: none;
}

.card img {
  height: 70%;
  width: 100%;
 object-fit: cover;
 background-position: center;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 30px;
  margin-bottom: 5px;
}
