* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --x: 400px;
  --y: 400px;
}

.box {
  height: 100%;
  width: 100%;
  position: relative;
  background: radial-gradient(
    200px at var(--x) var(--y),
    rgba(255, 255, 255, 0)30%,
    rgba(0, 0, 0, 0.887)70%
  );
  cursor: none;
}

.video {
  height: 100%;
  width: 100%;
  position: absolute;

  object-fit: cover;
  z-index: -99;
}
